/*
 TODO：请补充代码
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header>*,
main,
footer {
    width: 1024px;
    margin: 0 auto;
}

header {
    background-color: #a6b1e1;
}

header>nav {
    padding-top: 13px;
}

header>nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>nav>ul>li:first-of-type {
    margin-right: 365px;
    font-size: 18px;
    color: white;
}

header>nav>ul>li {
    margin-right: 16px;
    font-size: 16px;
    color: white;
}

header>div {
    padding-top: 30px;
    text-align: center;
    height: 427px;
    box-sizing: border-box;
}

header>div>.p1 {
    font-size: 45px;
    color: black;
    margin-bottom: 62px;
}

header>div>.p2 {
    font-size: 21px;
    color: white;
    margin-bottom: 36px;
    font-weight: 200;
}

header>div>div {
    color: #efbfbf;
    border-radius: 2px;
    font-size: 18px;
    box-shadow: inset 0 0 0 2px #efbfbf;
    display: inline-block;
    padding: 10px 14px;
}

main {
    margin-top: 74px;
    height: 302px;
    display: grid;
    grid-template-columns: 50% 50%;
}

main>section {
    height: 144px;
}

main>section>.p1 {
    font-size: 30px;
    font-weight: 200;
    color: black;
    margin-bottom: 10px;
}

main>section:nth-of-type(1),
main>section:nth-of-type(3) {
    margin-right: 20px;
}

main>section>.p2 {
    font-size: 18px;
    color: #aaa;
    line-height: 1.4em;
}

footer {
    font-size: 14px;
    color: #aaa;
    text-align: center;
}

footer>.p1 {
    margin-top: 30px;
}

footer>.p2 {
    margin-top: 10px;
    margin-bottom: 10px;
}